<main>
  <div class="homepage__screen">
    <div class="livestream__container">
      <%- include('./../components/livestreamMain.ejs'); %>
    </div>
    <div class="general__slider match__slider">
      <div class="generalSlider__container matchSlider__container">
        <%- include('./../components/matchInfo.ejs'); %>
        <%- include('./../components/matchInfo.ejs'); %>
        <%- include('./../components/matchInfo.ejs'); %>
        <%- include('./../components/matchInfo.ejs'); %>
        <%- include('./../components/matchInfo.ejs'); %>
        <%- include('./../components/matchInfo.ejs'); %>
        <%- include('./../components/matchInfo.ejs'); %>
        <%- include('./../components/matchInfo.ejs'); %>
      </div>
    </div>
    <div class="general__slider blv__slider">
      <div class="blvSlider__title">
        <img class="title__image" src="//sta.cvndnss.com/xoilac2_web/assets/xoilac2/img/hot-zb.png">
      </div>
      <div class="generalSlider__container blvSlider__container">
        <%- include('./../components/blvIcon.ejs'); %>
        <%- include('./../components/blvIcon.ejs'); %>
        <%- include('./../components/blvIcon.ejs'); %>
        <%- include('./../components/blvIcon.ejs'); %>
        <%- include('./../components/blvIcon.ejs'); %>
        <%- include('./../components/blvIcon.ejs'); %>
        <%- include('./../components/blvIcon.ejs'); %>
        <%- include('./../components/blvIcon.ejs'); %>
        <%- include('./../components/blvIcon.ejs'); %>
        <%- include('./../components/blvIcon.ejs'); %>
        <%- include('./../components/blvIcon.ejs'); %>
        <%- include('./../components/blvIcon.ejs'); %>
        <%- include('./../components/blvIcon.ejs'); %>
      </div>
    </div>
    <div class="hotlive__container">
      <%- include('./../components/hotliveSlider.ejs'); %>
    </div>
    <div class="info__container">
      <%- include('./../components/infoHomepage.ejs'); %>
    </div>
  </div>
</main>