<div class="hotlive__slider">
  <div class="hotlive__tabPanel">
    <img
      class="hotlive__image"
      src="//sta.cvndnss.com/xoilac2_web/assets/xoilac2/img/hot-live.png">
    <div class="tabPanel__switch tab__selected">Trực tiếp</div>
    <div class="tabPanel__switch">Bóng đá</div>
    <div class="tabPanel__switch">Bóng rổ</div>
  </div>
  <div class="hotliveVideo__container">
    <a href="/" style="text-decoration: unset">
      <%- include('./hotliveVideo.ejs'); %>
    </a>
    <a href="/" style="text-decoration: unset">
      <%- include('./hotliveVideo.ejs'); %>
    </a>
    <a href="/" style="text-decoration: unset">
      <%- include('./hotliveVideo.ejs'); %>
    </a>
    <a href="/" style="text-decoration: unset">
      <%- include('./hotliveVideo.ejs'); %>
    </a>
    <a href="/" style="text-decoration: unset">
      <%- include('./hotliveVideo.ejs'); %>
    </a>
    <a href="/" style="text-decoration: unset">
      <%- include('./hotliveVideo.ejs'); %>
    </a>
    <a href="/" style="text-decoration: unset">
      <%- include('./hotliveVideo.ejs'); %>
    </a>
    <a href="/" style="text-decoration: unset">
      <%- include('./hotliveVideo.ejs'); %>
    </a>
    <a href="/" style="text-decoration: unset">
      <%- include('./hotliveVideo.ejs'); %>
    </a>
  </div>
</div>