<div class="LiveStreamMain">
  <div class="livestream__left">
    <iframe class="livestream__video" src="https://xl.plvb.xyz/ajax/chanel/type/1/link/9l7x9pa"></iframe>
  </div>
  <div class="livestream__right">
    <div class="video__list">
      <%- include('./../components/miniVideo.ejs'); %>
      <%- include('./../components/miniVideo.ejs'); %>
      <%- include('./../components/miniVideo.ejs'); %>
      <%- include('./../components/miniVideo.ejs'); %>
      <%- include('./../components/miniVideo.ejs'); %>
      <%- include('./../components/miniVideo.ejs'); %>
    </div>
  </div>
</div>